@font-face {
    font-family: "brolimo-bold"; 
    src: url("../fonts/brolimo/woff2/brolimo-brolimo-bold-700.woff2") format("woff2"), /* Modern browsers */
         url("../fonts/brolimo/ttf/brolimo-brolimo-bold-700.ttf") format("ttf");   /* Fallback */
}

body {
    background-color: #F2ECE2;
}

hr {
    border: none;
    height: 1px;
    background-color: #7A4035;
    margin: 10px 0;
}

nav a {
    color: #7A4035;
    font-family: brolimo-bold;
}